:root {
    --background-color: rgb(34, 37, 46);
    --text-main-color: rgb(122, 123, 128);
    --secondary-bg-color: rgb(56, 59, 66);
    --max-images-per-row: 6;
    --min-img-size: 300px;
}
body {
    background-color: var(--background-color);
    color: var(--text-main-color);
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-img-size), 1fr));
    max-width: calc( var(--max-images-per-row) * var(--min-img-size) + var(--max-images-per-row) * 30px );
    gap: 30px;
    padding: 30px;
    margin-top: 20px;
    background-color: var(--secondary-bg-color);
}
.gallery > img {
    width: 100%;
    height: auto; 
    max-width: 400px;
    max-height: 400px;
}

.canvas-container {
    display: flex;
    justify-content: center;
    width: 430px;
    background-color: var(--secondary-bg-color);
    margin: 20px;
    padding: 20px;
}
canvas {
    width: 400px;
    height: 400px;
}
.meme-editor {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2;
}
.text-editor {
    background-color: var(--secondary-bg-color);
}